name: CI/CD to AKS

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build Spring Boot using Maven
        run: mvnd -B package --file pom.xml

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Azure CLI - Login to ACR
        run: az acr login --name ${{ secrets.ACR_NAME }}

      - name: Build and Push Docker image
        run: |
          docker build -t ${{ secrets.ACR_NAME }}.azurecr.io/myapp:v1 .
          docker push ${{ secrets.ACR_NAME }}.azurecr.io/myapp:v1

      - name: Deploy to AKS
        run: |
          az aks get-credentials --resource-group ${{ secrets.AKS_RG }} --name ${{ secrets.AKS_NAME }} --overwrite-existing
          kubectl apply -f k8s-deployment.yaml
          kubectl apply -f k8s-service.yaml
